################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/studentCore/bin
/studentCore/obj/Debug
/studentSolution/bin
/studentSolution/obj
/studentTest/bin
/studentTest/obj
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

